# Dependencies
node_modules/

# Expo
.expo/
dist/
dist-web/
web-build/
expo-env.d.ts

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# OS
.DS_Store
*.pem

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
